---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=to:%23MakeAmericaGreatAgain&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T3a0VhyDqUEZyt3rx96jnBTXv", oauth_nonce="846c12e3a42ae037d7c5aed1566b85d4",
        oauth_signature="7YoPlOU8nObfdrBUvKFwaebEMU0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1456947008", oauth_token="167486448-R5RUyBEvuwDRv44Qx8hQlGyjzqpA8OUu6EfRIS8j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 02 Mar 2016 19:30:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7876b9ec9f6864acfe23a8f8cefb740f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '135'
      X-Rate-Limit-Reset:
      - '1456947328'
      X-Response-Time:
      - '382'
      X-Transaction:
      - 4542fdc3390133a9
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Mar 02 19:29:18 +0000 2016","id":705112764818300928,"id_str":"705112764818300928","text":"RT
        @ChristiChat: Cool! TRUTH is a hard pill to swallow for some. \ud83d\udc8aEnjoy!\n#Trump2016
        #AlwaysTrump\n#MakeAmericaGreatAgain  https:\/\/t.co\/QvRqI\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":438672129,"id_str":"438672129","name":"Karen
        Collins","screen_name":"khcslip","location":"Providence, RI","description":"Former
        US History teacher.. Civics & Govt.. strong conservative values! Patriotic
        through & through....I believe in the old America! LOVE Hannity & Outnumbered","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":382,"friends_count":396,"listed_count":17,"created_at":"Fri
        Dec 16 21:44:04 +0000 2011","favourites_count":4031,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":3244,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/688169135117742080\/ctX8zD_4_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/688169135117742080\/ctX8zD_4_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/438672129\/1452731529","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Mar 02 19:11:36 +0000 2016","id":705108311306313728,"id_str":"705108311306313728","text":"Cool!
        TRUTH is a hard pill to swallow for some. \ud83d\udc8aEnjoy!\n#Trump2016 #AlwaysTrump\n#MakeAmericaGreatAgain  https:\/\/t.co\/QvRqI7zZH7","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=705106189546352639&q=to:%23MakeAmericaGreatAgain&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T3a0VhyDqUEZyt3rx96jnBTXv", oauth_nonce="94a090940fb0d3fc355d537f1f39b1f6",
        oauth_signature="65yyXCE6DnzGFzPDugSODKg1F9A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp[...]
[...]
