<h2 class="t-index-title">welcome to politweets</h2>
<h5 class="t-index-title">political polls are increasingly innacurate - the
politician who dominiates the conversation on social media is becoming the new
measuring stick for predicting success</h5>
<p class="t-index-text">
  some states

  <%= link_to "#feelthebern",
  "https://twitter.com/search?q=%23feelthebern&src=typd",
  target: "_blank" %>

  while others long to

  <%= link_to "#makeamericagreatagain",
  "https://twitter.com/search?q=%23makeamericagreatagain&src=typd",
  target: "_blank" %>

  - politweets collected over 20,000 recent tweets supporting bernie or trump and
  sorted them by location to decide the political fate of every state - the data
  may surprise you but the proof is in the politweets
</p>
