<table>
  <thead>
    <tr>
        <th>Berners</th>
        <th>Trump Stumpers</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>
          <% @twitter.bernie_output.each do |tweet| %>
            <%= tweet %>
          <% end %>
        </td>
        <td>
        </td>
      </tr>
  </tbody>
</table>
