<table class="highlight table-color">
  <thead>
    <tr>
        <th>State</th>
        <th>Bernie Tweets</th>
        <th>Trump Tweets</th>
        <th>Winner's Margin</th>
    </tr>
  </thead>

  <tbody>
    <% filler %>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    <% filler %>
  </tbody>
</table>
