<div class="box">
  <table class="highlight table-color center">
    <thead>
      <tr>
          <th>State</th>
          <th>Bernie Tweets</th>
          <th>Trump Tweets</th>
          <th>Winner</th>
      </tr>
    </thead>

    <tbody>
      <% cache("tweets-table") do %>
        <% TweetFormatter.state_codes.each do |state| %>
          <tr>
            <td>
              <%= link_to "#{State.state_hash[state]}",
                  state_path(State.find_by(name: (State.state_hash[state])).id),
                  class: "waves-effect waves-light btn indigo darken-2 width" %>
            </td>
            <td>
              <%= TweetCalculator.bernie_by_state(state) %>
            </td>
            <td>
              <%= TweetCalculator.trump_by_state(state) %>
            </td>
            <td>
              <%= TweetCalculator.winning_margin(state) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
