<table class="highlight table-color">
  <thead>
    <tr>
        <th>State</th>
        <th>Bernie Tweets</th>
        <th>Trump Tweets</th>
        <th>Winner's Margin</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>

        </td>
        <td>
          <%= state_tweets[:state][1].count %>
        </td>
        <td>
          <%= state_tweets[:state][2].count %>
        </td>
        <td>

        </td>
      </tr>
  </tbody>
</table>
