<div class="box">
  <table class="highlight table-color center">
    <thead>
      <tr>
          <th>state</th>
          <th>bernie tweets</th>
          <th>trump tweets</th>
          <th>winner</th>
      </tr>
    </thead>

    <tbody>
        <% TweetFormatter.state_codes.each do |state| %>
          <tr>
            <td>
              <%= link_to "#{State.state_hash[state]}",
                  state_path(State.find_by(name: (State.state_hash[state])).id),
                  class: "waves-effect waves-light btn indigo darken-2 width" %>
            </td>
            <td>
              <%= @tweet_calculator.bernie_by_state(state) %>
            </td>
            <td>
              <%= @tweet_calculator.trump_by_state(state) %>
            </td>
            <td>
              <%= @tweet_calculator.winning_margin(state) %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
