<table class="highlight table-color">
  <thead>
    <tr>
        <th>State</th>
        <th>Bernie Tweets</th>
        <th>Trump Tweets</th>
        <th>Winner's Margin</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>
          <% @twitter.search_bernie_tweets.each do |tweet| %>
            <%= tweet.user.location %>
          <% end %>
        </td>
        <td>
          <% @twitter.search_trump_tweets.each do |tweet| %>
            <%= tweet.user.location %>
          <% end %>
        </td>
        <td>
          <%=  %>
        </td>
        <td>
          <%=  %>
        </td>
      </tr>
  </tbody>
</table>
