<table class="highlight table-color">
  <thead>
    <tr>
        <th>State</th>
        <th>Bernie Tweets</th>
        <th>Trump Tweets</th>
        <th>Winner's Margin</th>
    </tr>
  </thead>

  <tbody>
    <% @twitter.search_tweets.each do |state| %>
      <tr>
        <td>
          <%= state.user.location %>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
