<br>
<div class="container">

  <%= render partial: "tweets/intro" %>

  <p class="t-index-text">
    explore the map below to discover which states tweet to the left - which
    states matter this election cycle - and which tweet so far right their
    residents surely blocked neil degrasse tyson's account years ago
  </p>
</div>

<div class="container">
  <%= render partial: "tweets/map" %>
</div>
