<br>
<div class="container">
  <div class="row">
     <div class="col s12">
       <ul class="tabs tab-color">
         <li class="tab col s3"><a class="active" href="#1">#FeelTheBern</a></li>
         <li class="tab col s3"><a href="#2">#MakeAmericaGreatAgain</a></li>
         <li class="tab col s3"><a href="#3">States</a></li>
       </ul>
    </div>
    <div id="1" class="col s12">
      <%= render partial: "tweets/map" %>
    </div>
    <div id="2" class="col s12">
      Map2
    </div>
    <div id="3" class="col s12">
      <%= render partial: "tweets/table" %>
    </div>
   </div>
</div>
