<div class="container">
  <h2 class="t-index-title">welcome to politweets</h2>
  <p class="t-index-text">
    explore the map below to discover which states have a majority tweeting
    for bernie in 2016 - and which tweet so far right their residents surely
    blocked neil degrasse tyson's account years ago
  </p>

  <%= render partial: "tweets/map" %>
  <br>  
  <%= render partial: "tweets/intro" %>

</div>
