<br>
<div class="container">
  <h3 class="t-index-title">welcome to politweets</h3>
  <p class="t-index-text">
    confident your comrades #feelthebern? or are you positive your compatriots
    long to #makeamericagreatagain? over 50,000 recent tweets supporting either
    bernie or trump were collected by hashtag and sorted by location to decide
    the political fate of every state - the data may surprise you, but the proof
    is in the politweets
    <br>
    <br>
    explore the tabs below to discover which states tweet to the left - which
    states matter this election cycle - and which tweet so far right their
    residents surely blocked neil degrasse tyson's account years ago
  </p>
</div>
<br>
<div class="container">
  <div class="row">
     <div class="col s12">
       <ul class="tabs">
         <li class="tab col s3"><a class="active" href="#1">National Data</a></li>
         <li class="tab col s3"><a href="#3">State Data</a></li>
       </ul>
    </div>
    <div id="1" class="col s12">
      <br>
      <%= render partial: "tweets/map" %>
    </div>
    <div id="3" class="col s12">
      <br>
    </div>
   </div>
   <br>
</div>
