<br>
<div class="container">

  <%= render partial: "tweets/intro" %>

  <p class="t-index-text">
    explore the table below to discover which states tweet to the left - which
    states matter this election cycle - and which tweet so far right their
    residents surely blocked neil degrasse tyson's account years ago
  </p>
  <p class="t-index-text">
    click on any state to see a more detailed breakdown and what residents are
    tweeting in real time
  </p>
</div>

<div class="container">
  <%= render partial: "tweets/table" %>
</div>
