<br>
<div class="container">
  <div class="row">
    <div class="col s4 center">
      <h4 class="t-index-title">bernie tweets</h4>
    </div>
    <div class="col s4 center">
      <h4 class="t-index-title">trump tweets</h4>
    </div>
    <div class="col s4 center">
      <h4 class="t-index-title">america's champ</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s4 center numbers">
      <%= number_with_delimiter(Tweet.where(hashtag_id: 1).count,
                                :delimiter => ',') %>
    </div>
    <div class="col s4 center numbers">
      <%= number_with_delimiter(Tweet.where(hashtag_id: 2).count,
                                :delimiter => ',') %>
    </div>
    <div class="col s4 center numbers">
      <%= TweetCalculator.national_winner %>
    </div>
  </div>

</div>

<div class="container">
  <%= render partial: "tweets/table" %>
</div>
