<div class="container">
  <h2 class="t-index-title">politweets</h2>
  <p class="t-index-text">
    the table below shows the tweet counts for each candidate - click
    on a state to see what its residents are tweeting in real time
  </p>
</div>

<div class="container">
  <%= render partial: "tweets/table" %>
</div>
