<body class="homepage">
  <div class="container center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      <h2 class="homepage-title">POLITWEETS</h2>
      <h5 class="homepage-text">
        Confident your comrades Feel The Bern? Positive your fellow patriots
        hunger to Make America Great Again? Over 50,000 tweets from across the
        country have been collected to decide the fate of each state
      </h5>
      <h5 class="homepage-text">
        The data may surprise you, but the proof is in the politweets
      </h5>
      <br>
      <br>
      <div class="homepage-button">
        <%= link_to "login with twitter",
            "/auth/twitter",
            class: "waves-effect waves-light btn red darken-4" %>
      </div>
    </div>
  </div>
</body>
