<body class="homepage">
  <div class="container center">
    <br>
    <br>
    <div class="col-md-12">
      <h1 class="homepage-title">POLITWEETS</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <pre class="homepage-text">
Confident your comrades #FeelTheBern or
do they long to #MakeAmericaGreatAgain?

The data may surprise you
    </pre>
    <div class="homepage-button">
      <%= link_to "Login with Twitter",
                  "/auth/twitter",
                  class: "waves-effect waves-light btn indigo darken-2" %>
    </div>
  </div>
</body>
