<body id="homepage">
  <div class="container right">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      <h3 class="homepage-text">Welcome to PoliTweets</h3>
      <h5 class="homepage-text">Learn how relevant a nationally trending topic is by state</h5>
      <br>
      <br>
      <div class="homepage-text">
        <%= link_to "Login with Twitter", class: "waves-effect waves-light btn orange darken-4" %>
      </div>
    </div>
  </div>
</body>
