/* WELCOME PAGE */

text,body {
  text-shadow: none !important;
}

.homepage {
  background: image_url("politics.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-title {
  color: #283593;
  font-family: Roboto;
  font-weight: bold;
  font-size: 80px;
}

.homepage-button {
  color: white;
  font-family: Roboto;
}

/* TWEETS INDEX */

.t-index-title {
  color: #283593;
}

.t-index-text {
  font-size: 18px;
  color: #303f9f;
}

.tab-color {
  color: #b71c1c;
}

/* TWEETS SHOW */

.show-height {
  min-height: 270px;
}

/* FOOTER PARTIAL */

.footer-height {
  height: 173px;
}

/* MAP PARTIAL */

#container {
  height: 650px;
  min-width: 900px;
  margin: 0 auto;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: white;
}

/* TABLE PARTIAL */

.table-color {
  color: #303f9f;
}

.box {
  height: 579px;
  overflow-y: auto;
}

/* NAVBAR PARTIAL */

.left-nav {
  margin-left: 20px;
}

.logo {
  font-size: 22px;
}

.nav-color {
  color: #303f9f;
}
