/* WELCOME PAGE */

.homepage {
  background: url("politics") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-title {
  color: #283593;
  font-family: Roboto;
  font-weight: bold;
}

.homepage-text {
  color: #283593;
  font-family: Roboto;
  font-weight: bold;
  font-size: 17px;
}

.homepage-button {
  color: white;
  font-family: Roboto;
}

/* NAVBAR */

.top-nav {
  margin-left: 15px;
}

.logo {
  font-size: 22px;
}
