<footer class="page-footer white hoverable footer-height">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="t-index-title">site map</h5>
        <ul>
          <li>
            <%= link_to "national data", tweets_path, class: "t-index-title" %>
          </li>
          <li>
            <%= link_to "state data", "", class: "t-index-title" %>
          </li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="t-index-title">additional resources</h5>
        <ul>
          <li>
            <%= link_to "about the author", "https://dastinnette.github.io",
                target: "_blank",
                class: "t-index-title" %>
          </li>
          <li>
            <%= link_to "source code", "https://github.com/dastinnette/politweets",
                target: "_blank",
                class: "t-index-title" %>
          </li>
        </ul>
        <br>
      </div>
    </div>
  </div>
</footer>
