<nav>
  <div class="nav-wrapper white">
    <%= link_to "politweets", tweets_path, class: "left-nav logo nav-color" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
      </li>
      <li>
      </li>
      <li>
        <%= link_to "logout", "/logout", method: "delete", class: "nav-color" %>
      </li>
    </ul>
  </div>
</nav>
